---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection(
  'projects',
  ({ data }) => data.locale === 'en'
);

// opcjonalnie sortowanie
projects.sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
---
<BaseLayout>
  <main class="container">
    <h1 class="h1 mb-4">Projects</h1>
    <ul>
      {projects.map((project) => (
        <li>
          <a href={`/projects/${project.id}`}>
            <article>
              <h2 transition:name={`project-title-${project.data.slug}`} class="h2 mb-2">{project.data.title}</h2>
              <p transition:name={`project-desc-${project.data.slug}`}>{project.data.description}</p>
              <img transition:name={`project-cover-${project.data.slug}`} src={project.data.cover} alt={project.data.title} />
            </article>
          </a>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
