---
import { getT } from "@/i18n/messages";
import { getRoute } from '@/i18n/routes';
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/_ui/Button.astro";

const locale = Astro.currentLocale === "pl" ? "pl" : "en";
const t = getT(locale);

const projects = await getCollection(
  "projects",
  ({ data }) => data.locale === "pl",
);

projects.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---
<BaseLayout
  title="Visual Label — Studio kreatywne"
  description="Studio projektowe tworzące nowoczesne strony internetowe."
>
  <main class="container">
    <section class="-mt-12 pb-12 h-[75vh] flex items-end border-b border-[var(--border)]">
      <h1 class="h1 text-pretty md:max-w-[75%] lg:max-w-[66%]">Budowanie pożądanego wizerunku marki, w sieci i poza nią.</h1>
    </section>
    <section class="mb-24 -mx-2 md:-mx-4 lg:mx-auto border-t border-[var(--border)]">
      <Button
        href={getRoute(locale, 'projects')}
        variant="link"
        class="mt-2 mb-12"
      >
        {t("projects.btnTitle")}
      </Button>
      <div class="relative w-full max-md:overflow-x-auto">
        <ul class="flex md:grid grid-cols-3 gap-x-4">
          { projects.map((project) => (
            <li class="max-md:w-max">
              <a href={`/pl/projekty/${project.id}`}>
                <div class="relative max-md:w-[66vw] pb-[75%] overflow-hidden">
                  <img
                    transition:name={`project-cover-${project.data.slug}`}
                    src={project.data.cover}
                    alt={project.data.title}
                    class="absolute w-full h-full object-cover"
                  />
                </div>
                <div>
                  <h2
                    class="h4"
                    transition:name={`project-title-${project.data.slug}`}
                  >{project.data.title}</h2>
                  <p
                    class="col-span-3 text-[var(--muted)]"
                    transition:name={`project-desc-${project.data.slug}`}
                  >
                    {project.data.description}
                  </p>
                </div>
              </a>
            </li>
          ))}
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
