---
import BaseLayout from './BaseLayout.astro';
import { getT } from '@/i18n/messages';

const locale = Astro.currentLocale === 'pl' ? 'pl' : 'en';
const t = getT(locale);

interface Props {
  metaTitle: string;
  metaDescription: string;
  title: string;
  description: string;
  client: string;
  cover?: string;
  tags?: string[];
}

const {
  metaTitle,
  metaDescription,
  title,
  description,
  client,
  cover,
  tags = [],
} = Astro.props as Props;
---
<BaseLayout title={metaTitle} description={metaDescription}>
  <article>
    <section class="relative w-full max-md:h-[calc(100svh-3rem)] overflow-hidden">
      <div class="max-md:absolute inset-0 max-md:flex flex-col justify-end md:mt-32">
        <header class="container mx-auto">
          <h1 class="display mb-1">{title}</h1>
          <p class="mb-6 text-[var(--muted)]">{description}</p>
          <ul class="mt-6 mb-12 text-[var(--muted)]">
            <li>{t('project.clientTitle')}: {client}</li>
            {tags.length > 0 && (
              <li>{t('project.clientTitle')}:
                {tags.map((tag) => (
                  <span class="text-[var(--foreground)]">
                    {tag}
                  </span>
                ))}
              </li>
            )}
          </ul>
          {cover && (
            <img src={cover} alt={title} class="mb-2 w-full object-cover" />
          )}
        </header>
      </div>
    </section>
    <section class="container mx-auto my-12">
      <slot />
    </section>
  </article>
</BaseLayout>
