---
import BaseLayout from './BaseLayout.astro';
import { getT } from '@/i18n/messages';

const locale = Astro.currentLocale === 'pl' ? 'pl' : 'en';
const t = getT(locale);

interface Props {
  metaTitle: string;
  metaDescription: string;
  title: string;
  description: string;
  client: string;
  cover?: string;
  tags?: string[];
  slug?: string;
  pubDate?: Date;
}

const {
  metaTitle,
  metaDescription,
  title,
  description,
  client,
  cover,
  tags = [],
  slug,
  pubDate,
} = Astro.props as Props;
---
<BaseLayout title={metaTitle} description={metaDescription}>
  <main class="container my-24">
    <article>
      <header>
        {cover && (
          <img transition:name={`project-cover-${slug}`} src={cover} alt={title} class="w-full object-cover" />
        )}
        <div class="my-3 flex justify-between items-start">
          <h1 transition:name={`project-title-${slug}`} class="h3">{title}</h1>
          <p class="text-[var(--muted)]">
            {pubDate ? pubDate.toLocaleDateString(locale, {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              }) : null}
          </p>
        </div>
        <p transition:name={`project-desc-${slug}`} class="mb-6 text-[var(--muted)]">{description}</p>
        <ul class="text-[var(--muted)]">
          <li>{t('project.clientTitle')}: {client}</li>
          {tags.length > 0 && (
            <li>{t('project.tagsTitle')}:
              {tags.map((tag, index) => (
                <span>
                  <span class="text-[var(--foreground)]">{tag}</span>{index < tags.length - 1 ? ', ' : ''}
                </span>
              ))}
            </li>
          )}
        </ul>
      </header>
      <section class="my-24">
        <slot />
      </section>
    </article>
  </main>
</BaseLayout>
